@charset "utf-8";
// @import url("https://fonts.googleapos.com/css?family=Roboto");
// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

/* Gist Custom Syntax Highlighting SCSS
--------------------------------------------- */

body .gist	{
	
	.gist-file	{
		border: none;
		border-bottom: none;
	}
	
	.gist-data {
		border-radius: 4px 4px 0 0;
		color: #A0A8B3;
		font-size: 14px;
		line-height: 1.4;
		padding: 16px 16px 0;

		.blob-wrapper {
			max-width: 100%;
			padding-bottom: 16px;
			overflow-x: auto;
			overflow-y: hidden;
		}
		
	}
	
	.highlight {
	    background: #293134;
	    max-width: 800px;
	    overflow-x: scroll;
	    border: none;
	    td, tbody	{
		    border: none;
	    }
	}
	.blob-num,
	.blob-code-inner,
	.pl-ent,
	.pl-s1,
	.pl-s1 .pl-s2,
	.pl-smi,
	.pl-smp,
	.pl-stj,
	.pl-vo,
	.pl-vpf {
	    color: #e0e2e4;
	}
	.pl-c,
	.pl-c span {
	    color: #66747b;
	    font-style: italic;
	}
	.pl-mb {
	    color: #ec7600;
	    font-weight: 700;
	}
	.pl-mh .pl-en {
	    color: #66747b;
	    font-weight: 700;
	}
	.pl-mi {
	    color: #93c763;
	    font-style: italic;
	}
	.pl-sc {
	    color: #96989a;
	}
	.pl-st {
	    color: #da4236;
	}
	.pl-c1>.pl-c1 {
	    color: #678cb1;
	}
	.pl-c1,
	.pl-sr .pl-cce {
	    color: #ffcd22;
	}
	.pl-e,
	.pl-k,
	.pl-mdh,
	.pl-mdr,
	.pl-ml,
	.pl-mm,
	.pl-mo,
	.pl-mp,
	.pl-mr,
	.pl-ms,
	.pl-s1 .pl-v,
	.pl-s3 {
	    color: #93c763;
	}
	
	
	.pl-en,
	.pl-v {
	    color: #678cb1;
	}
	.pl-mh,
	.pl-mq {
	    color: #66747b;
	}
	.pl-pds,
	.pl-s,
	.pl-s1 .pl-pse .pl-s2,
	.pl-sv {
	    color: #ec7600;
	}
	.pl-sr,
	.pl-sr .pl-sra,
	.pl-sr .pl-sre,
	.pl-src {
	    color: #d39745;
	}
	.pl-mi1,
	.pl-mdht {
	    color: #e0e2e4;
	}
	.pl-md,
	.pl-mdhf,
	.pl-id,
	.pl-ii {
	    color: #e0e2e4;
	}
	
	.gist-meta	{
		border-radius: 0 0 4px 4px;
		font-size: 14px;
		padding: 6px 16px;		a	{
		color: #E96B2C;
			&:hover	{
				text-decoration: underline;
			}
		}
	}
}

/* end gist
------------------------------------------------------------ */

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
